<main>
    <section class="clickball">
        <header class="clickball-header">
            <h2>Click<span>ball</span></h2>
            <div class="clickball-header_costumer">
                <p>New customers</p>
                <div class="costumer-alert"><p>Alert!</p> <div class="customer-arrows"><img src="../images/arrows.png" alt="arrows">
                </div>
            </div>
        </div>
        </header>
        <div class="deposit-bonus">
            <h2>10o%</h2>
            <p>first deposit bonus</p>
            <div class="deposit-bonus__up-to">
                <div class="up-to">
                    <div><span>up to</span></div>
                    
                    <img src="../images/arrows2.png" alt="arrows">
            </div>
                <div class="up-to__money">
                    <span>$100 000 000</span></div>
            </div>
            <div class="up-to__awaits-for-you">
                <img src="../images/arrows3.png" alt="arrows">
                <div><span>awaits for you</span></div>
                
            </div>
       <a href="#" class="sign-up">
           <span>sign up now!</span>
        </a>
        <div class="clickball__tree"></div>
        <div class="clickball__player">
            <div class="player-ball"></div>
        </div>
            
        </div>
        
    </section>
    <section class="steps">
        <div class="steps-register">
            <div class="register-container">
              <div class="register">
                <span>Register</span>
            </div>
            <p>Click on the sign up button<br> to get started</p>
        </div>  
        <img src="../images/arrow-step.png" alt="arrow">
            </div>
            
        <div class="steps-deposit">
            
                <img src="../images/arrow-step2.png" alt="arrow">
                <div class="deposit-container">
                  <div class="deposit">
                    <span>Make deposit</span>
                </div>
                <p>Click on deposit to make use of our<br> multi-charnel payment system</p>
            </div>  
            
                </div>
        </div>
        <div class="steps-offer">
            <div class="offer-container">
                <div class="offer">
                  <span>Claim offer</span>
              </div>
              <p>Get 100% bonus instartly</p>
          </div>  
          <img src="../images/arrow-step3.png" alt="arrow">
        </div>
    </section>
    <section class="we-offer">
        <a href="#" class="sign-up we-offer__button">
            <span>We offer</span>
         </a>
         <div class="we-offer__advantages">
            <div class="advantages-item">
                <div class="item-container">
                    <div class="item-content">
                        <img src="../images/Icons/event.svg" alt="events" width="38", height="34">
                    </div>
                </div>
                <p>Over 5,000 <br> events week</p>
            </div>

            <div class="advantages-item">
                 <div class="item-container">
                    <div class="item-content">
                        <img src="../images/Icons/best.svg" alt="best" width="42", height="42">
                    </div>
                </div>
                <p>Best odds</p>
            </div> 
            <div class="advantages-item">
                <div class="item-container">
                    <div class="item-content">
                        <img src="../images/Icons/options.svg" alt="options" width="40", height="39">
                    </div>
                </div>
                <p>More market <br> options</p>
            </div>
            <div class="advantages-item">
               <div class="item-container">
                    <div class="item-content">
                        <img src="../images/Icons/support.svg" alt="support" width="44", height="44">
                    </div>
                </div> 
                <p>24/7 customer<br> support</p>
            </div>
            <div class="advantages-item">
                 <div class="item-container">
                    <div class="item-content">
                        <img src="../images/Icons/payment.svg" alt="payment" width="38", height="37">
                    </div>
                </div>
                <p>Best payment<br> system</p>
            </div>
         </div>
    </section>
    <section class="registration">
        <div class="registration-title">
            <p>Registration</p>
        </div>
        <form action="#">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" value="GO-GO-GO!" minlength="8" maxlength="16" size="16">
        </form>
    </section> 
</main>